<h1>GroupEats</h1>
<h3>Enter ZIP Code</h3>
<form [formGroup]="zipForm">
    <label>
        <!--put text here idk-->
    <input type="text" formControlName="zip">
    </label>
</form>
  
  

<h3>Choose Price Options</h3>

<div class="option">
    <label class="label">
    <div class="rectangle">$</div>
    <input type="checkbox" value="onedollar">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">$$</div>
    <input type="checkbox" value="twodollar">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">$$$</div>
    <input type="checkbox" value="threedollar">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">$$$$</div>
    <input type="checkbox" value="fourdollar">
    </label>
</div>

<h3>Select Dietary Restrictions</h3>

<div class="option">
    <label class="label">
    <div class="rectangle">Gluten Free</div>
    <input type="checkbox" value="glutenfree">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Halal</div>
    <input type="checkbox" value="halal">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Vegetarian</div>
    <input type="checkbox" value="vegetarian">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Vegan</div>
    <input type="checkbox" value="vegan">
    </label>


<h3>Choose Cuisine Options</h3>

<div class="option">
    <label class="label">
    <div class="rectangle">American</div>
    <input type="checkbox" value="american">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Bar</div>
    <input type="checkbox" value="bar">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Breakfast</div>
    <input type="checkbox" value="breakfast">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Burgers</div>
    <input type="checkbox" value="burgers">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Cafe</div>
    <input type="checkbox" value="cafe">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Chicken Wings</div>
    <input type="checkbox" value="chickenwings">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Chinese</div>
    <input type="checkbox" value="chinese">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Diner</div>
    <input type="checkbox" value="diner">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Fast Food</div>
    <input type="checkbox" value="fastfood">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Fish and Chips</div>
    <input type="checkbox" value="fishandchips">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">French</div>
    <input type="checkbox" value="french">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Indian</div>
    <input type="checkbox" value="indian">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Italian</div>
    <input type="checkbox" value="italian">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Japanese</div>
    <input type="checkbox" value="japanese">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Korean</div>
    <input type="checkbox" value="korean">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Mediterranean</div>
    <input type="checkbox" value="mediterranean">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Middle Eastern</div>
    <input type="checkbox" value="middleeastern">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Mexican</div>
    <input type="checkbox" value="mexican">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Noodles</div>
    <input type="checkbox" value="noodles">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Pizza</div>
    <input type="checkbox" value="pizza">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Salad</div>
    <input type="checkbox" value="salad">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Sandwiches</div>
    <input type="checkbox" value="sandwiches">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Seafood</div>
    <input type="checkbox" value="seafood">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Steakhouse</div>
    <input type="checkbox" value="steakhouse">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Thai</div>
    <input type="checkbox" value="thai">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Vegetarian</div>
    <input type="checkbox" value="vegetarian">
    </label>
</div>

<div class="option">
    <label class="label">
    <div class="rectangle">Vietnamese</div>
    <input type="checkbox" value="vietnamese">
    </label>
</div>

<button (click)="createEvent()" [disabled]="eventCreated">{{eventMessage}}</button>
<button *ngIf="eventCreated && !linkCopied" (click)="copyLink()">Copy Code</button>
<button *ngIf="eventCreated && linkCopied">Code Copied</button>

<button *ngIf="eventCreated" (click)="openEvent()">Open Event To Vote, After Sharing Link</button>

<div *ngIf="errorMessage">{{ errorMessage }}</div>

  
  

  