.label {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

.rectangle {
  width: 200px;
  height: 30px;
  background-color: #2B2D42;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: #D6A99A;
  margin-right: 10px;
}

.food-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.button-toggle-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.option-green.mat-button-toggle-checked {
  background-color: lightgreen;
  border-color: green;
}

.option-gray.mat-button-toggle-checked {
  background-color: lightpink;
  border-color: pink;
}

.option-red.mat-button-toggle-checked {
  background-color: lightcoral;
  
}


h1, h3, button, form {
  margin: 20px 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Georgia';
  color: #1e2c4a;
  font-size: xx-large;
  font-weight: bolder;
}

h3 {
  font-family: 'Georgia';
  color: #1e2c4a;
  font-size: large;
  font-weight: bolder;
}

button {
  background-color: #2B2D42;
  border: none;
  color: #B1D2F1;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-family: 'Georgia';
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.section-box {
  background-color: #B1D2F1;
  padding-bottom: 1px;
  padding-top: 1px;
  margin-bottom: 20px;
  width: 500px;
  margin-left: auto;
  margin-right:auto;
}  

button:hover {
  background-color: #B1D2F1;
  color: #2B2D42;
  font-family: 'Georgia';
  font-weight: bolder;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

