body {
    background-image: url("home.png");
    background-color: #D9ECFF;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, button, form {
    margin: 20px 0;
}

h1 {
    font-family: 'Georgia';
    color: #2B2D42;
    font-size: xx-large;
    font-weight: bolder;
}
  
button {
    background-color: #2B2D42;
    border: none;
    color: #B1D2F1;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-family: 'Georgia';
    font-weight: bolder;
    
}
  
button:hover {
    background-color: #B1D2F1;
    color: #2B2D42;
    font-family: 'Georgia';
    font-weight: bolder;
}

::placeholder {
    text-align: center;
  }
  

  input{
    color: #2B2D42;
    text-align: center;
    font-family: 'Georgia';
    font-weight: bolder;
  }